button i {
  color: white !important;
}

.fa.fa-white,.fas.fa-white {
    color: $base-color-white;
}
i.el-input__icon.el-icon-view.el-input__clear {
  color: black !important;
}
.el-input,.el-select,.el-date-editor.el-input, .el-date-editor.el-input__inner{
  width: 100%!important;
}

.actions{
  .cell{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
    .el-button{
      margin: 0;
    }
  }
}
.el-notification__content p{
  white-space: break-spaces;
}
.pl-2{
  padding-left: 0.5rem;
}
.squad{
  .el-tabs__item{
    background-color: #C4C4C4;
    color: #000;
    &.is-active{
      background-color: #fff;
    }
  }
}
.games{
  .el-divider__text{
    background-color: #DEE4E1;
  }
}

